{% extends 'base.html.twig' %}

{% block title %}Ajouter un film{% endblock %}

{% block body %}
<section>
        {{ form_start(form) }}
            {{ form_row(form.titre) }}

            <button type="submit">Valider</button>
        {{ form_end(form) }}
    </section>
{% endblock %}
